body {
    background-color: black;
    background-image: url(kepek/auto_background_14.jpg);
    background-repeat: no-repeat;
    color: white;
    max-width: 1000px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    color: orange;
    text-decoration: none;
    padding: 20px;
    margin: 30px;
    border: 10px solid orange;
    border-radius: 50%;
    background-color: rgb(50, 48, 48);
  }
  
  a:hover {
    color: lightorange;
  }
  
  img {
    width: 400px;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 50%;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
  }
  
  h2 {
    background-color: rgb(50, 48, 48);
    padding: 30px;
    border-radius: 50%;
  }
  
  p {
    text-align: justify;
    font-size: 15px;
  }
  